/* Colori istituzionali
Sfondo: #ddd8d8;
Grigio sfondo menu: gray;
Grigio scuro: rgb(55, 55, 55);

*/

/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Chewy&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap");

/* 

.roboto-thin {
  font-family: "Roboto", system-ui;
  font-weight: 100;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-style: normal;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;

  .bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: #ddd8d8;
  font-family: "Roboto", system-ui;
}

body::-webkit-scrollbar {
  display: none;
}

/* Maglietta sullo sfondo */

main {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

img {
  background-color: red;
  height: 80%;
  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

/* maglietta su iphone */

@media only screen and (max-width: 767px) {
  main {
    padding-right: 0;
    flex-direction: column-reverse;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 0;
    border: 0;
  }
}

/* menu */

ul {
  height: 100%;
  width: 60%;
  margin-inline: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  ul {
    width: 100%;
  }
}

li {
  display: flex;
  width: 100%;
  height: 5%;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(55, 55, 55);
  border-bottom: 1px solid gray;
}

li:hover {
  color: black;
  background-color: gray;
}

li:last-child {
  background-color: orange;
  color: rgb(0, 255, 0);
  border: 0;
  border-radius: 0 0 10px 10px;
}

li:last-child:hover {
  background-color: rgb(0, 255, 0);
  color: orange;
  height: 8%;
  transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.special {
  background-color: rgb(203, 203, 203);
  border: 0;
  color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-inline: 2px solid rgb(55, 55, 55);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Menu su iphone */

@media only screen and (max-width: 767px) {
  li {
    height: 25%;
  }

  li:last-child:hover {
    background-color: rgb(0, 255, 0);
    height: 25%;
    color: orange;
  }

  .special {
    border: 0;
  }
}

/* Applico questa classe quando voglio far sparire il li */
.li__hidden {
  display: none;
}

/* Zona di modifica del colore */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.button:hover {
  background-color: rgb(55, 55, 55);
  color: white;
}

#input__color {
  width: 100%;
  height: 100%;
}

/* zona di modifica del testo */

textarea {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}

textarea:focus {
  outline: none;
}

#icon__content {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  #icon__content {
    width: 60%;
  }
}

.text_modify_button {
  background-color: rgb(55, 55, 55);
  padding: 10px;
  border-radius: 10px;
}
